.register__main_container {
  .register__container {
    padding: 80px 20px 20px;

    .form__container {
      box-shadow: var(--shadow);
      padding: 20px;
      border-radius: 8px;
      border: 2px solid var(--border-color);

      .form_label__container {
        margin-bottom: 20px;
      }

      form {
        width: 100%;
        display: grid;
        grid-gap: 15px;

        .p-field {
          display: grid;
          grid-gap: 5px;

          label {
            font-size: 12px;
          }

          input {
            background-color: var(--background-color);
            color: var(--color);
          }
        }

        input,
        button {
          font-size: 14px;
          width: 100%;
          border-radius: 8px;
          padding: 12px 15px;
        }

        small {
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
