<div class="register__main_container">
  <div class="register__container">
    <div class="form__container p-shadow-1">
      <div class="form_label__container">
        <h2>Sign Up</h2>
      </div>

      <form action="" class="">
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" type="text" pInputText />
        </div>

        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input id="password" type="password" pInputText />
        </div>
        <button pButton type="button" label="Sign Up"></button>

        <small align="center"
          >Already have an account?
          <span [ngStyle]="{ color: 'var(--primary-color)' }" routerLink="/login"
            >Login</span
          ></small
        >
      </form>
    </div>
  </div>
</div>
