.register__main_container {
  .register__container {
    padding: 80px 20px 20px;
    color: var(--primaryColor);

    .form__container {
      border-radius: 8px;

      .form_label__container {
        margin-bottom: 20px;
      }

      form {
        width: 100%;
        display: grid;
        grid-gap: 15px;

        .p-field {
          display: grid;
          grid-gap: 5px;

          .p-error {
            font-size: 11px;
            margin-left: 15px;
          }

          input {
            background-color: var(--primaryBgColor);
            border-color: var(--borderColor);
            color: var(--primaryColor);
          }

          ::placeholder {
            font-size: 14px;
          }

          ::ng-deep p-password {
            width: 100%;

            .p-inputtext {
              width: 100%;
            }

            input {
              background-color: var(--primaryBgColor);
              border-color: var(--borderColor);
              color: var(--primaryColor);
              font-size: 14px;
              border-radius: 8px;
              padding: 12px 15px;
              width: 100%;
            }

            ::placeholder {
              font-size: 14px;
            }

            .p-password {
              width: 100%;

              .p-component {
                width: 100%;
              }
            }

            .p-password-panel {
              color: var(--primaryColor);
              background-color: var(--primaryBgColor);
            }

            .p-password-info {
              padding: 20px;
            }
          }
        }

        input,
        button {
          font-size: 14px;
          width: 100%;
          border-radius: 8px;
          padding: 12px 15px;
        }

        small {
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
