<div class="register__main_container">
  <div class="register__container">
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <div class="form__container p-shadow-1">
      <div class="form_label__container">
        <h2>Sign Up</h2>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" #ngForm="ngForm">
        <div class="p-field">
          <input
            id="name"
            type="text"
            pInputText
            placeholder="Enter your name"
            formControlName="name"
          />
          <small *ngIf="registerForm.value.name == '' && ngForm.submitted" class="p-error"
            >This field is required.</small
          >
        </div>

        <div class="p-field">
          <input
            id="email"
            type="email"
            pInputText
            placeholder="Enter your email"
            formControlName="email"
          />
          <small
            id="email"
            *ngIf="
              registerForm.controls.email.status == 'INVALID' &&
              registerForm.value.email != ''
            "
            class="p-error"
            >Please enter valid email.</small
          >
          <small *ngIf="registerForm.value.email == '' && ngForm.submitted" class="p-error"
            >This field is required.</small
          >
        </div>
        <div class="p-field">
          <p-password
            class="pass"
            formControlName="password"
            placeholder="Enter your password"
          >
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="">Suggestions</p>
              <ul class="" style="padding: '20px'">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <small *ngIf="registerForm.value.password == '' && ngForm.submitted" class="p-error "
            >This field is required.</small
          >
        </div>
        <button pButton type="submit" label="Sign Up"></button>

        <small align="center"
          >Already have an account?
          <span
            [ngStyle]="{ color: 'var(--primary-color)' }"
            routerLink="/login"
            >Login</span
          ></small
        >
      </form>
    </div>
  </div>
</div>
