<div class="postaudience__container">
  <p-dialog [(visible)]="isPostAudienceModalOpen" [modal]="true">
    <ng-template pTemplate="header">
      <div class="container">
        <i class="fal fa-arrow-left" (click)="openClosePostAudienceModal()"></i>
        <h5>Post Audience</h5>
      </div>
    </ng-template>

    <div class="content__container">
      <div class="information__container">
        <h5>Who can see your post?</h5>
        <p>
          Your post will show up in News Feed, on your profile and in search
          results.
        </p>
        <p>
          Your default audience is set to Only me, but you can change the
          audience of this specific post.
        </p>

        <h5 class="chooseAudience">Choose Audience</h5>
        <div
          class="checkboxes__container"
          *ngFor="let audience of postAudienceArray"
          (click)="unselectCheckbox(audience.title)"
        >
          <div class="checkbox__container">
            <div class="box">
              <p-checkbox
                [disabled]="audience.isSelected ? true : false"
                [(ngModel)]="audience.isSelected"
                [binary]="true"
                #checkB
              ></p-checkbox>
            </div>
            <div class="box">
              <div class="{{ audience.icon }}"></div>
            </div>
            <div class="box">
              <h6>{{ audience.title }}</h6>
              <p>{{ audience.description }}</p>
            </div>
          </div>
        </div>

        <div class="okBtn" (click)="setAudience()"><h4>Done</h4></div>
      </div>
    </div>
  </p-dialog>
</div>
