<div class="nav__main_container">
  <div class="nav__container">
    <div class="navigation_btns__container">
      <div class="top__container">
        <h5>Lorem-dev</h5>
        <div class="btns__container">
          <i class="fal fa-search"></i>
          <i class="fal fa-comments-alt"></i>
        </div>
      </div>

      <div class="bottom__container">
        <div
          class="container"
          [ngClass]="{ currentRoute: currentRoute === 'home' }"
          routerLink="/"
        >
          <i class="fal fa-home"></i>
        </div>
        <div
          class="container"
          [ngClass]="{ currentRoute: currentRoute === 'friends' }"
          routerLink="/friends"
        >
          <i class="pi pi-users"></i>
        </div>
        <div
          class="container"
          [ngClass]="{ currentRoute: currentRoute === 'notifications' }"
          routerLink="/notifications"
        >
          <i class="pi pi-bell"></i>
        </div>
        <div class="container" (click)="sidebarOpen = true">
          <i class="pi pi-bars"></i>
        </div>
      </div>
    </div>

    <p-sidebar styleClass="sidebar" [(visible)]="sidebarOpen" position="right">
      <div class="sidebar_content__container">
        <div class="profilelink__container" routerLink="/profile">
          <img src="../../../../../assets/images/chan.jpg" alt="" />
          <div class="details">
            <h5>Christian Paranas</h5>
            <p>See your profile</p>
          </div>
        </div>
        <div class="containers">
          <div class="shortcuts__container">
            <h5>All Shortcuts</h5>
            <div class="shortcuts_content__container">
              <div class="shortcut__container"  *ngFor="let shortcut of shortcutsArray">
                <div class="{{ shortcut.icon }}"></div>
                <p>{{ shortcut.title }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-sidebar>
  </div>
</div>
