.nav__main_container {
  width: 100%;

  .nav__container {
    .navigation_btns__container {
      z-index: 100;
      position: fixed;
      width: 100%;
      background-color: var(--background);
      color: var(--primaryColor);

      .top__container {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btns__container {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr;

          i {
            font-size: 15px;
            padding: 8px;
            cursor: pointer;
            background-color: var(--secondaryBg);
            border-radius: 50%;
          }
        }
      }

      .bottom__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-bottom: 2px solid var(--borderColor);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          i {
            padding: 12px;
            font-size: 20px;
            font-weight: 400;
          }
        }

        .currentRoute {
          color: var(--currentRouteColor);
          border-bottom: 2px solid var(--currentRouteColor);
        }
      }
    }

    ::ng-deep .sidebar.p-sidebar {
      z-index: 101;
      width: 330px;
      color: var(--primaryColor);
      background-color: var(--background);
      padding: 0;

      .p-sidebar-header {
        border-bottom: 3px solid var(--secondaryBg);
        padding: 10px;
      }

      .p-sidebar-content {
        padding: 0;
      }

      .sidebar_content__container {
        .profilelink__container {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-gap: 10px;
          padding: 10px;
          cursor: pointer;
          border-bottom: 3px solid var(--secondaryBg);

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            p {
              font-size: 12px;
              margin-top: 5px;
              color: var(--secondaryFg);
            }
          }
        }

        .containers {
          padding: 10px 10px 100px;

          .shortcuts__container {
            h5 {
              margin: 15px 0 10px;
            }

            .shortcuts_content__container {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 7px;

              .shortcut__container {
                background-color: var(--secondaryBg);
                border-radius: 5px;
                padding: 15px;
                cursor: pointer;
                border: 2px solid var(--borderColor);
                height: fit-content;
                font-size: 12px;
              }
            }
          }

          .sidebar_options__container {
            margin-top: 20px;
            display: grid;
            gap: 5px;

            ::ng-deep .accordion.p-accordion {
              display: grid;
              gap: 5px;

              .p-accordion-header {


                .p-accordion-header-link {
                  background-color: var(--secondaryBg);
                  color: var(--primaryColor);
                  border: 0;
                  border-radius: 8px;
                  border: 2px solid var(--secondaryBg);
                  font-size: 12px;
                  margin-bottom: 5px;
                  padding: 15px; 

                  .pi {
                    position: absolute;
                    right: 0;
                    font-size: 10px;
                  }
                }
              }

              .p-accordion-content {
                background-color: var(--secondaryBg);
                color: var(--primaryColor);
                border: 0;
                border-radius: 8px;
                padding: 5px;
                border: 2px solid var(--borderColor);
                font-size: 12px;

                .darkMode__container {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  background-color: var(--background);
                  border-radius: 8px;
                  padding: 10px 20px;
                  border: 2px solid var(--borderColor);
                }
              }
            }

            .logoutBtn {
              padding: 16px 20px;
              background-color: var(--secondaryBg);
              color: var(--primaryColor);
              border-radius: 8px;
              font-size: 12px;
              cursor: pointer;
              border: 2px solid var(--borderColor);
              transition: all .3s ease;

              &:hover {
                background: #dc3545;
              }
            }
          }
        }
      }
    }
  }
}
