.nav__main_container {
  width: 100%;

  .nav__container {
    .navigation_btns__container {
      z-index: 100;
      position: fixed;
      width: 100%;
      background-color: var(--primaryBgColor);
      color: var(--primaryColor);

      .top__container {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btns__container {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr;

          i {
            font-size: 20px;
            padding: 8px;
            cursor: pointer;
            background-color: var(--secondaryBgColor);
            border-radius: 50%;
          }
        }
      }

      .bottom__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-bottom: 1px solid var(--borderColor);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          i {
            padding: 12px;
            font-size: 20px;
          }

          &:hover {
            background-color: var(--secondaryBgColor);
          }
        }

        .currentRoute {
          color: var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }

    ::ng-deep .sidebar.p-sidebar {
      z-index: 101;
      width: 330px;
      color: var(--primaryColor);
      background-color: var(--primaryBgColor);
      padding: 0;

      .p-sidebar-content {
        padding: 0;
      }

      .sidebar_content__container {
        .profilelink__container {
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-gap: 10px;
          padding: 10px;
          cursor: pointer;
              box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            p {
              font-size: 12px;
              margin-top: 5px;
            }
          }
        }

        .containers {
          padding: 10px;

          .shortcuts__container {

            h5 {
              margin: 15px 0 10px;
            }

            .shortcuts_content__container {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 8px;

              .shortcut__container {
                background-color: var(--secondaryBgColor);
                border-radius: 8px;
                padding: 15px;
                cursor: pointer;
                box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
              }
            }
          }
        }
      }
    }
  }
}
