.nav__main_container {
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  z-index: 100;

  .nav__container {
    .navigation_btns__container {
      .top__container {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btns__container {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr;

          i {
            font-size: 20px;
            padding: 8px;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
          }
        }
      }

      .bottom__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid var(--borderColor);

        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            padding: 12px;
            font-size: 20px;
          }
        }
      }
    }

    ::ng-deep .sidebar.p-sidebar {
      width: 250px;
      color: var(--color);
      background-color: var(--background-color);
    }
  }
}
