<div class="search__container">
  <div class="search__wrapper">
    <div class="header">
      <div class="gobackBtn" routerLink="/">
        <i class="fal fa-arrow-left"></i>
      </div>
      <input type="text" placeholder="Search" />
    </div>

    <div class="suggestions__container">
      <h4>Try searching for</h4>
      <div class="suggest_content">
        <div class="con">
          <i class="fal fa-search"></i>
          people you may know
        </div>
        <div class="con">
          <i class="fal fa-search"></i>
          posts you've seen
        </div>
        <div class="con">
          <i class="fal fa-search"></i>
          groups you may like
        </div>
        <div class="con">
          <i class="fal fa-search"></i>
          videos you may like
        </div>
        <div class="con">
          <i class="fal fa-search"></i>
          events you may like
        </div>
      </div>
    </div>
  </div>
</div>
