<div class="home__main_container">
  <app-nav currentRoute="home"></app-nav>

  <app-createpost (postedEvent)="loadPosts()" #createPost></app-createpost>

  <div class="home__container">
    <div class="createpost__container">
      <div class="top">
        <img
          routerLink="/profile"
          src="../../../../../assets/images/chan.jpg"
          alt=""
        />
        <div
          class="createPostBtn"
          (click)="createPost.openCloseCreatePostModal()"
        >
          What's on your mind?
        </div>
      </div>
      <div class="bottom">
        <div class="btn">
          <i class="fal fa-user"></i>
          Live
        </div>
        <div class="btn">
          <i class="fal fa-user"></i>
          Photo
        </div>
        <div class="btn">
          <i class="fal fa-user"></i>
          Room
        </div>
      </div>
    </div>

    <div class="noPost" *ngIf="postsArray.length == 0"><h3>No Post(s)</h3></div>

    <div class="noPost" *ngIf="postsArray == null"><h3>Something went wrong.</h3></div>

    <div class="posts__container">

      <app-postcontainer
        *ngFor="let post of postsArray"
        [postArray]="post"
      ></app-postcontainer>
    </div>
  </div>
</div>
