.postcontainer__main_container {
  background-color: var(--secondaryBg);
  color: var(--primaryColor);
  box-shadow: var(--shadow);
  border-radius: 5px;

  .post_header__container {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 10px;
    padding: 15px 15px 0;

    .post_user_image__container {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .post_details__container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .post_details__wrapper {
        .post_dateposted_privacy__container {
          display: flex;
          font-size: 10px;
          color: var(--postContainerSecondaryColor);

          .dateposted__wrapper {
            margin-right: 5px;
            color: var(--secondaryFg);
          }
        }
      }

      ::ng-deep .p-tieredmenu {
        background-color: var(--background);

        .p-menuitem-link {
          .p-menuitem-icon,
          .p-menuitem-text {
            color: var(--primaryColor);
            font-size: 10px;
          }

          &:hover {
            background-color: var(--secondaryBg);
          }
        }
      }
    }
  }

  .post_content__container {
    margin: 10px 0;

    .post_text_content__container {
      font-size: 12px;
      padding: 0 15px 10px;
      white-space: pre-wrap;
    }

    .post_image_content__container {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .post_interactions__container {
    padding: 0 10px;

    .top__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post_likes_count__container {
        display: flex;
        align-items: center;

        .icons {
          margin-right: 3px;
          display: flex;
          align-items: center;

          img {
            width: 15px;
            height: 15px;
          }
        }

        .count {
          font-size: 10px;
          transition: all .3s ease;

          &:hover {
            color: var(--secondaryFg);
          }
        }
      }

      .post_commentShare_count__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container {
          display: flex;
          font-size: 10px;
          transition: all .3s ease;

          &:hover {
            color: var(--secondaryFg);
          }

          p {
            margin-right: 3px;
          }
        }

        .dot {
          margin: 0 5px;
        }
      }
    }

    .bottom__container {
      margin-top: 5px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 2px solid var(--background);

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          color: var(--secondaryFg);
        }

        i {
          margin-right: 5px;
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

.post_skeleton__container {
  padding: 10px;
  background-color: var(--secondaryBg);
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  border: 2px solid var(--borderColor);
  border-radius: 5px;

  ::ng-deep .skel_3 {
    grid-column: 1 / span 2;
  }

  ::ng-deep .skel_2 {
    margin-top: 10px;
    width: 150px;
  }

  ::ng-deep .skel.p-skeleton {
    background-color: var(--secondaryBg);
    border: 2px solid var(--borderColor);
  }
}
