<div class="postcontainer__main_container" *ngIf="postArray">
  <div class="post_header__container">
    <div class="post_user_image__container">
      <img src="../../../../../assets/images/chan.jpg" alt="" />
    </div>
    <div class="post_details__container">
      <div class="post_details__wrapper">
        <div class="post_username">{{ postArray.user.name }}</div>
        <div class="post_dateposted_privacy__container">
          <div class="dateposted__wrapper">
            {{ convertPostData(postArray.updatedAt) }}
          </div>
          <div class="privacy_wrapper">
            <i
              *ngIf="postArray.privacy == 'public'"
              class="fal fa-globe-asia"
            ></i>
            <i *ngIf="postArray.privacy == 'friends'" class="fal fa-users"></i>
            <i *ngIf="postArray.privacy == 'onlyme'" class="fal fa-lock"></i>
          </div>
        </div>
      </div>
      <p-tieredMenu
        class="postmenu"
        #menu
        [model]="items"
        [popup]="true"
      ></p-tieredMenu>
      <i (click)="menu.toggle($event)" class="fal fa-ellipsis-h"></i>
    </div>
  </div>

  <div class="post_content__container">
    <div class="post_text_content__container">
      {{ postArray.textContent }}
    </div>
    <div *ngIf="postArray.image != null" class="post_image_content__container">
      <img src="../../../../../assets/images/chan.jpg" alt="" />
    </div>
  </div>

  <div class="post_interactions__container">
    <div class="top__container">
      <div class="post_likes_count__container">
        <div class="icons">
          <img src="../../../../../assets/svgs/facebook-like.svg" alt="" />
        </div>
        <div class="count">1</div>
      </div>
      <div class="post_commentShare_count__container">
        <div class="container">
          <p>2</p>
          Comments
        </div>
        <p class="dot">⸱</p>
        <div class="container">
          <p>12</p>
          Shares
        </div>
      </div>
    </div>
    <div class="bottom__container">
      <div class="container">
        <i class="fal fa-thumbs-up"></i>
        <p>Like</p>
      </div>
      <div class="container">
        <i class="fal fa-comment-alt"></i>
        <p>Comment</p>
      </div>
      <div class="container">
        <i class="fal fa-share"></i>
        <p>Share</p>
      </div>
    </div>
  </div>
</div>

<div class="post_skeleton__container" *ngIf="!postArray">
  <p-skeleton
    styleClass="skel"
    class="skel_1"
    shape="circle"
    width="50px"
    height="50px"
  ></p-skeleton>
  <p-skeleton styleClass="skel" class="skel_2"></p-skeleton>
  <p-skeleton
    styleClass="skel"
    class="skel_3"
    width="100%"
    height="200px"
  ></p-skeleton>
</div>
