<div class="createpost__container">
  <app-postaudience (setAudienceEvent)="setAudience($event)" #postAudience></app-postaudience>

  <p-dialog [(visible)]="isCreatePostModalOpen" [modal]="true">
    <ng-template pTemplate="header">
      <div class="container">
        <i class="fal fa-arrow-left" (click)="openCloseCreatePostModal()"></i>
        <h5>Create Post</h5>
      </div>
      <button
        pButton
        [disabled]="disablePostBtn"
        [loading]="isPosting"
        [label]="isPostingLabel"
        class="postBtn"
        (click)="onSubmit()"
        iconPos="right"
      >
      </button>
    </ng-template>

    <div class="content__container">
      <div class="postOptions__container">
        <div class="img__container">
          <img src="../../../../../assets/images/chan.jpg" alt="" />
        </div>
        <div class="container">
          <h5>Christian Paranas</h5>
          <div
            class="postaudience_btn"
            (click)="postAudience.openClosePostAudienceModal()"
          >
            <i [class]="postContent.icon"></i>
            <p>{{ postContent.privacy }}</p>
            <i class="fal fa-caret-down"></i>
          </div>
        </div>
      </div>
      <div class="content">
        <textarea
          placeholder="What's on your mind?"
          id=""
          cols="30"
          rows="10"
          [(ngModel)]="postContent.textContent"
          (input)="sole()"
        ></textarea>
      </div>
    </div>
  </p-dialog>
</div>
