<div class="customer_msgs__main_container">
  <div class="customer_mgs__wrapper">
    <div class="header" [ngClass]="{ header__scrollShadow: onScroll }">
      <div class="backBtn">
        <i (click)="goBack()" class="fal fa-arrow-left"></i>
      </div>
      <div class="chatsIcon">Messages</div>
      <div class=""></div>
    </div>

    <div class="chatheads__container">
      <div
        class="friend_chathead__container"
        *ngFor="let friend of friendsArr"
        (click)="openSpecificMsg(friend)"
      >
        <img
          [src]="
            friend.image != null
              ? friend.image
              : '../../../../../assets/images/chan.jpg'
          "
          alt=""
        />
        <div *ngIf="friend.isOnline == 'true'" class="onlineIndicator"></div>
        <p>{{ friend.name }}</p>
      </div>
    </div>

    <div class="contentMsgs">
      <div class="noMsg" *ngIf="mgsArr.length == 0">
        <img src="../../../assets/imgs/noMsgs.png" alt="" />
        <p>No Messages</p>
      </div>

      <div class="searchMsg">
        <div class="wrapper">
          <i class="fal fa-search"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div class="messages__container">
        <a
          class="msg"
          *ngFor="let msg of mgsArr"
          (click)="openSpecificMsg(msg.msgID)"
        >
          <img [src]="msg.imgURL" alt="" />
          <div class="details">
            <div class="name">{{ msg.name }}</div>
            <div class="latestMsg">
              {{
                msg.latestMsg.length > 15
                  ? msg.latestMsg.substring(0, 15) + " ..."
                  : msg.latestMsg
              }}
            </div>
          </div>
          <div class="date">{{ msg.dateOrTime }}</div>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="!openMsg" class="noSelectedMsg">
    <img src="../../../assets/imgs/msgImg.png" alt="" />
  </div>

  <div *ngIf="openMsg" class="contentMsg">
    <div class="header1">
      <div class="box">
        <div class="backBtn">
          <i (click)="openMsg = false" class="fal fa-arrow-left"></i>
        </div>
        <div class="chatUser">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
          />
          <div class="online_indicator"></div>
          <div class="details">
            <div class="name">{{ specificMsg.username }}</div>
            <div class="status">Active now</div>
          </div>
        </div>
      </div>
      <div class="setting">
        <i class="fal fa-cog"></i>
      </div>
    </div>

    <div class="msgs_container">
      <div class="spec_msg_wrapper">
        <div
          class="msg"
          *ngFor="let msg of specificMsgs"
          [ngClass]="{ ownMessage: msg.senderId == currentUser.userId }"
        >
          <img [src]="msg.userImage" alt="" />
          <p>{{ msg.userMessage }}</p>
        </div>
        <div class="bottomscroll" #btnScroll></div>
      </div>
    </div>

    <div class="bottomInputs">
      <form (ngSubmit)="sendMessage()" class="inputsWrapper">
        <div class="openMoreActions_btn">
          <i class="fal fa-plus-circle"></i>
        </div>
        <input
          type="text"
          placeholder="Send message"
          [(ngModel)]="userMessage"
          #msgInput
          (click)="testScroll()"
          (focus)="testScroll()"
          required
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="sendMsg_btn">
          <i
            (click)="sendMessage(); msgInput.focus()"
            class="fal fa-paper-plane"
          ></i>
        </div>
      </form>
    </div>
  </div>
</div>
