<div class="customer_msgs__main_container">
  <div class="customer_mgs__wrapper">
    <div class="header" [ngClass]="{ header__scrollShadow: onScroll }">
      <div class="backBtn">
        <i (click)="goBack()" class="fal fa-arrow-left"></i>
      </div>
      <div class="chatsIcon">Messages</div>
      <div class=""></div>
    </div>

    <div class="chatheads__container">
      <div
        class="friend_chathead__container"
        *ngFor="let friend of friendsArr"
        (click)="openConvoPanel(1, friend)"
      >
        <img
          [src]="
            friend.image != null
              ? friend.image
              : '../../../../../assets/images/chan.jpg'
          "
          alt=""
        />
        <div *ngIf="friend.isOnline == 'true'" class="onlineIndicator"></div>
        <p>{{ friend.name }}</p>
      </div>
    </div>

    <div class="contentMsgs">
      <div class="noMsg" *ngIf="isNoConvo">
        <p>No Messages</p>
      </div>

      <div class="searchMsg" *ngIf="chatsArr.length != 0">
        <div class="wrapper">
          <i class="fal fa-search"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div class="messages__container">
        <a
          class="msg"
          *ngFor="let chat of chatsArr"
          (click)="openConvoPanel(2, chat)"
        >
          <img
            [src]="
            chat.sender.id == currentUser.userId
                ? chat.sender.image != null
                  ? chat.sender.image
                  : defaultImgLink
                : chat.receiver.image != null
                ? chat.receiver.image
                : defaultImgLink
            "
            alt=""
          />

          <div class="details">
            <div class="name">{{ chat.sender.id != currentUser.userId ? chat.sender.name : chat.receiver.name }}</div>
            <div class="latestMsg">{{ chat.sender.id == currentUser.userId ? "You" : chat.receiver.name }}:
              {{
                
                chat.messages[chat.messages.length - 1].text.length > 15
                  ? chat.messages[chat.messages.length - 1].text.substring(0, 15) + " ..."
                  : chat.messages[chat.messages.length - 1].text
              }}
            </div>
          </div>
          <div class="date">{{ convertPostData(chat.messages[chat.messages.length - 1].updatedAt) }}</div>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="!isConvoOpen" class="noSelectedMsg">
    <img src="../../../../../assets/images/chan.jpg" alt="" />
  </div>

  <div *ngIf="isConvoOpen" class="contentMsg">
    <div class="header1">
      <div class="box">
        <div class="backBtn">
          <i (click)="closeConvoPanel()" class="fal fa-arrow-left"></i>
        </div>
        <div class="chatUser">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
          />
          <div class="online_indicator"></div>
          <div class="details">
            <div class="name">{{ convoData.username }}</div>
            <div class="status">Active now</div>
          </div>
        </div>
      </div>
      <div class="setting">
        <i class="fal fa-cog"></i>
      </div>
    </div>

    <div class="msgs_container">
      <div class="spec_msg_wrapper">
        <div
          class="msg"
          *ngFor="let convo of convoArr"
          [ngClass]="{ ownMessage: (convo.sender.id || convo.sender) == currentUser.userId }"
        >
          <img [src]="defaultImgLink" alt="" />
          <p>{{ convo.text }}</p>
        </div>
        <div *ngIf="isNoConvoMsgs" class="noMsgInfo">
          Say Hi!
        </div>
        <div class="bottomscroll" #btnScroll></div>
      </div>
    </div>

    <div class="bottomInputs">
      <form (ngSubmit)="sendMessage()" class="inputsWrapper">
        <div class="openMoreActions_btn">
          <i class="fal fa-plus-circle"></i>
        </div>
        <input
          type="text"
          placeholder="Send message"
          [(ngModel)]="typedMessage"
          #msgInput
          (click)="testScroll()"
          (focus)="testScroll()"
          required
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="sendMsg_btn">
          <i
            (click)="sendMessage(); msgInput.focus()"
            class="fal fa-paper-plane"
          ></i>
        </div>
      </form>
    </div>
  </div>
</div>
