/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.dark-mode {
  --background-color: #2d3436;
  --color: #dfe6e9;
}

.light-mode {
  --background-color: #fff;
  --color: #2d3436;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}
