/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.dark-mode {
  --background: #091a28;
  --foreground: white;
  --secondaryFg: #afadad;
  --secondaryBg: #1f2937;
  --shadow: 0 0px 0px 0 RGB(43 80 237 / 20%);
  --borderColor: #1f2937;
  --currentRouteColor: #6b21A8;


  --pageBgColor: #242829;

  --primaryBgColor: #2d3436;
  --secondaryBgColor: #242829;

  --primaryColor: #fff;
  --secondaryColor: #e3e3e3;

}

.light-mode {
  --background: #fafafa;
  --foreground: #365771;
  --secondaryFg: #365771a6;
  --secondaryBg: #fff;
  --shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
  --borderColor: #fafafa;
  --currentRouteColor: #6b21A8;


  --pageBgColor: #fff;

  --primaryBgColor: #fff;
  --secondaryBgColor: #fafafa;

  --primaryColor: #2d3436;
  --secondaryColor: #9a9a9b;
}

body {
  background-color: var(--background);
  color: var(--color);
}
