/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.dark-mode {
  --background-color: #2d3436;
  --color: #dfe6e9;
  --border-color: #575f67;
  --shadow: 0;
  --inputBgColor: #242829;
  --inputBorderColor: #242829;
  --postBgColor: #2d3436;
  --borderColor: #242829;
}

.light-mode {
  --background-color: #fff;
  --color: #2d3436;
  --border-color: #ced4da;
  --shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
  --inputBgColor: #fff;
  --inputBorderColor: #ced4da;
  --postBgColor: #fff;
  --borderColor: #e3e3e3;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}
