.login__main_container {
  .login__container {
    padding: 80px 20px 20px;

    .form__container {
      border-radius: 8px;

      .form_label__container {
        margin-bottom: 20px;
      }

      form {
        width: 100%;
        display: grid;
        grid-gap: 15px;

        .p-field {
          display: grid;
          grid-gap: 5px;

          input {
            background-color: var(--inputBgColor);
            color: var(--color);
            border-color: var(--inputBorderColor);
          }

          ::placeholder {
            font-size: 14px;
          }

          small {
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;

            span {
              cursor: pointer;
              font-size: 12px;
            }
          }
        }

        input,
        button {
          font-size: 14px;
          width: 100%;
          border-radius: 8px;
          padding: 12px 15px;
        }

        small {
          span {
            cursor: pointer;
          }
        }

        .social_login_btn__container {
          button {
            background: var(--secondary-color);
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
