<div class="login__main_container">
  <div class="login__container">
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <div class="form__container p-shadow-1">
      <div class="form_label__container">
        <h2>Login</h2>
      </div>
      <!-- <button pButton (click)="signInWithGoogle()">Google</button> -->

      <form
        (ngSubmit)="onSubmit(1)"
        [formGroup]="loginForm"
        #ngForm="ngForm"
        autocomplete="off"
      >
        <div class="p-field">
          <input
            id="text"
            type="email"
            pInputText
            placeholder="Email"
            formControlName="email"
          />
          <small
            id="email"
            *ngIf="
              loginForm.controls.email.status == 'INVALID' &&
              loginForm.value.email != ''
            "
            class="p-error"
            >Please enter valid email.</small
          >
          <small
            *ngIf="loginForm.value.email == '' && ngForm.submitted"
            class="p-error"
            >This field is required.</small
          >
        </div>
        <div class="p-field">
          <input
            id="password"
            type="password"
            pInputText
            placeholder="Password"
            formControlName="password"
          />
          <small
            *ngIf="loginForm.value.password == '' && ngForm.submitted"
            class="p-error"
            >This field is required.</small
          >
          <small><span>Forgot your password?</span></small>
        </div>
        <button
          [loading]="formSubmitLoading"
          iconPos="right"
          pButton
          type="submit"
          label="Login"
        ></button>

        <small align="center"
          >Don't have an account yet?
          <span
            [ngStyle]="{ color: 'var(--primary-color)' }"
            routerLink="/register"
            >Sign Up</span
          ></small
        >
      </form>
    </div>
  </div>
</div>
