<div class="login__main_container">
  <div class="login__container">
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <div class="form__container p-shadow-1">
      <div class="form_label__container">
        <h2>Login</h2>
      </div>

      <form action="" class="">
        <div class="p-field">
          <input id="text" type="text" pInputText placeholder="Email or Username" />
        </div>
        <div class="p-field">
          <input id="password" type="password" pInputText placeholder="Password" />
          <small><span>Forgot your password?</span></small>
        </div>
        <button pButton type="button" label="Login"></button>

        <small align="center"
          >Don't have an account yet?
          <span [ngStyle]="{ color: 'var(--primary-color)' }" routerLink="/register"
            >Sign Up</span
          ></small
        >

        <!-- <p-divider align="center" layout="horizontal">
          <span>OR</span>
        </p-divider>

        <div class="social_login_btn__container">
          <button
            pButton
            type="button"
            label="Login with Google"
            icon="pi pi-google"
          ></button>
        </div> -->
      </form>
    </div>
  </div>
</div>
