.login__main_container {
  .login__container {
    padding: 100px 20px 20px;

    .form__container {
      box-shadow: 0 2px 2px 0 RGB(43 80 237 / 20%);
      padding: 20px;
      border-radius: 8px;
      border: 2px solid #fafafa;

      .form_label__container {
        margin-bottom: 20px;
      }

      form {
        width: 100%;
        display: grid;
        grid-gap: 20px;

        .p-field {
          display: grid;
          grid-gap: 5px;

          small {
            display: flex;
            justify-content: flex-end;

            span {
              cursor: pointer;
            }
          }
        }

        input,
        button {
          width: 100%;
          border-radius: 8px;
          padding: 10px 15px;
        }

        small {
          span {
            cursor: pointer;
          }
        }

        .social_login_btn__container {
          button {
            background: white;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
